body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#ede0d4, #e6ccb2, #ddb892, #b08968, #9c6644, #7f5539);
}

#preloader {
    background: #000 url(/loader.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

header {
    background-image: linear-gradient(to right, black, white, black);
    color: black;
    padding: 1em 0;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-image: linear-gradient(to right, #ede0d4, #e6ccb2, #ddb892, #b08968, #9c6644, #7f5539);
    color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main:hover {
    background-image: linear-gradient(#ede0d4, #e6ccb2, #ddb892, #b08968, #9c6644, #7f5539);
    color: black;
}

section {
    margin-bottom: 2em;
}

h2 {
    background-image: linear-gradient(to right, black, red, black);
    color: white;
    border: 5px groove white;
    border-radius: 10%;
    text-align: center;
}

h2:hover {
    background-image: linear-gradient(to right, white, orange, white);
    color: black;
    border: 5px groove black;
    text-align: center;
}

.institution-logo {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 10px;
    width: 40px;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-image: linear-gradient(to right, grey, aqua, grey);
    text-align: center;
    color: black;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 3px groove white;
    border-radius: 5px;
}

ul li:hover {
    background-image: linear-gradient(to right, grey, pink, grey);
    text-align: center;
    color: black;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 3px groove black;
    border-radius: 5px;
}

footer {
    background-image: linear-gradient(to right, black, white, black);
    padding: 1em 0;
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}